<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-95</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script href="{{url_for('static', filename='js/index.js')}}"></script>
</head>

<body>
    <main>
        <div class="home-container">
            <h1>Logged in as: {{ user }}</h1>
            <a class="button button-grey" href="{{ url_for('logout') }}">Logout</a>
            <a class="button button-red" href="{{ url_for('delete') }}">Delete user</a>
        </div>
    </main>
</body>

</html>