<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <main>
        <div class="module">
            <a href="/" class="back-link">&#8592;</a>
            <h2>Login</h2>
            <form id="login-form" onsubmit="authenticate(event)">
                {{ form.hidden_tag() }}
            
                <div class="form-field">
                    {{ form.username.label }}
                    {{ form.username(class_="input-field") }}
                </div>
            
                <div class="form-field">
                    {{ form.totp.label }}
                    {{ form.totp(class_="input-field") }}
                </div>
            
                <div class="form-field">
                    {{ form.submit() }}
                </div>
            </form>
            <p class="status-msg"></p>
        </div>
    </main>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>