<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <main>
        <a id="back-button" href="{{ url_for('index') }}">Back</a>
        <div class="form-container">
            <div class="inner-container">
                <h2>Login</h2>
                <form id="login-form" onsubmit="authenticate(event)">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                    <input type="submit" value="Login">
                    <label for="totp">TOTP Code</label>
                    <input type="text" name="totp" id="totp" pattern="\d{6}" required>
                </form>
                <p class="status-msg"></p>
            </div>
        </div>
    </main>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>