<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-95</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <main>
        <div class="module module-enlarged">
			<a href="/" class="back-link">&#8592;</a>
			<h2>Enter your 12-word Mnemonic</h2>
			<form method="POST" action="/recover-user">
				{{ form.hidden_tag() }}
				<div class="mnemonic-grid">
					<div class="form-field">
						{{ form.word1(class_="input-field", autocomplete="off", required=True) }}
					</div>
				</div>
				<div class="form-field">
					{{ form.submit() }}
				</div>
			</form>
			<p class="status-msg"></p>
		</div>
    </main>
	<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>