<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>T-95</title>
    
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
<body>
    <main>
        <div class="module module-enlarged">
            <a href="/" class="back-link">&#8592;</a>
            <h2 class="title">Scan the QR code with your authentication app:</h2>
            <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code" class="qr-code">
            <form onsubmit="submitTotp(event)">
                {{ form.hidden_tag() }}
                <div class="form-field">
                    {{ form.totp.label }}
                    {{ form.totp(class_="input-field", autocomplete="off", id="totp, required") }}
                </div>
                <div class="form-field">
                    {{ form.submit() }}
                </div>
            </form>
            <p class="status-msg"></p>
        </div>
    </main>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>