<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-95</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <main>
        <div class="module module-enlarged">
            <h2 class="title">Your Mnemonic Phrase</h2>
            <p class="title-small">Please save this mnemonic phrase securely. It is required to recover your account.</p>
            
            {% if error %}
                <div class="status-msg">{{ error }}</div>
            {% endif %}

            <div class="mnemonic-box">
                <div class="mnemonic-phrase">
                    <div class="mnemonic-row">
                        <span>{{ mnemonic_words[0] }}</span>
                        <span>{{ mnemonic_words[1] }}</span>
                        <span>{{ mnemonic_words[2] }}</span>
                        <span>{{ mnemonic_words[3] }}</span>
                        <span>{{ mnemonic_words[4] }}</span>
                        <span>{{ mnemonic_words[5] }}</span>
                    </div>
                    <div class="mnemonic-row">
                        <span>{{ mnemonic_words[6] }}</span>
                        <span>{{ mnemonic_words[7] }}</span>
                        <span>{{ mnemonic_words[8] }}</span>
                        <span>{{ mnemonic_words[9] }}</span>
                        <span>{{ mnemonic_words[10] }}</span>
                        <span>{{ mnemonic_words[11] }}</span>
                    </div>
                </div>
            </div>

            <form action="{{ url_for('finalize_account') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="mnemonic" value="{{ mnemonic }}">
                <button type="submit" class="button button-wizard">Finalize Account</button>
            </form>
        </div>
    </main>
</body>
</html>
